include inc_header.jade
body
  include inc_navbar



  div#formframe.col-sm-24.main.collapse.in
    form.form-inline(action="#", method="post", role="form")
      div.form-group

        label(for="id-rep_dept") &nbsp;&nbsp; Подразделение: &nbsp;&nbsp;
        select.form-control(id="id-rep_dept", name="rep_dept", style="width:150")
          - each val, key in depList
            - if ( $key == $currDepCode )
              option(value="#{key}", selected) #{val}
            - else
              option(value="#{key}") #{val} #{depList[key]}

        - if ( $mode == 'mv' or $mode == 'vc' or $mode == 'fr')
          label(for="id-rep-period-from") &nbsp;&nbsp; С:&nbsp;
          input.form-control(type="text", id="id-rep-period-from", name="rep-period-from", value="#{PeriodBeg}")
          label(for="id-rep-period-to") &nbsp;&nbsp; по:&nbsp;
          input.form-control(type="text", id="id-rep-period-to", name="rep-period-to", value="#{PeriodEnd}")
        - if ($mode == 'mv')
          label(for="id-rep-purp") &nbsp;&nbsp; Причина:&nbsp;
          select.form-control(id="id-rep-purp", name="rep-purp")
            option(value='0') Не выбрано (Все)
            option(value='Перемещение0') Перемещение
            option(value='Увольнение') Увольнение
            option(value='Прием') Прием
        span &nbsp;&nbsp;
        button.btn.btn-default(type="submit", name="go", value="true", data-toggle="#formframe") Сформировать

  - if (go)      
    div.col-sm-24.main
      h3.sub-header.text-center Дни рождения сотрудников #{$currDep}
  
      table.table.table-striped
        tr
          th Таб. №
          th Сотрудник
          th Подразделение
          th Должность
          th День рождения
          - each obj in content
            - if (obj['HBMonth'])
              tr.info(data-toggle="tooltip", title="Юбилей #{obj['HBAge']} лет")
                td= obj['HBCode']
                td= obj['HBName']
                td= obj['HBDept']
                td= obj['HBPosition']
                td= obj['HBDay']
            - else
              tr
                td= obj['HBCode']
                td= obj['HBName']
                td= obj['HBDept']
                td= obj['HBPosition']
                td= obj['HBDay']

    include inc_footer
