include inc_header.jade
body
  include inc_navbar

  div#formframe.col-sm-24.main.collapse.in
    form.form-inline(action="#", method="post", role="form")
      div.form-group

        label(for="id-rep_dept") &nbsp;&nbsp; Подразделение: &nbsp;&nbsp;
        select.form-control(id="id-rep_dept", name="rep_dept", style="width:190")
          - each val, key in depList
            - if ( $key == $currDepCode )
              option(value="#{key}", selected) #{val}
            - else
              option(value="#{key}") #{val} #{depList[key]}

        - if ( $mode == 'mv' or $mode == 'vc' or $mode == 'fr')
          label(for="id-rep-period-from") &nbsp;&nbsp; С:&nbsp;
          input.form-control(type="text", value="#{PeriodBeg}", id="id-rep-period-from", name="rep-period-from")
          label(for="id-rep-period-to") &nbsp;&nbsp; по:&nbsp;
          input.form-control(type="text", value="#{PeriodEnd}", id="id-rep-period-to", name="rep-period-to")
        - if $mode == 'mv'
          label(for="id-rep-purp") &nbsp;&nbsp; Причина:&nbsp;
          select.form-control(id="id-rep-purp", name="rep-purp")
            option(value='0') Не выбрано (Все)
            - if $reason == "Перемещение"
              option(value='Перемещение', selected) Перемещение
            - else
              option(value='Перемещение') Перемещение
            - if( $reason == 'Увольнение')
              option(value='Увольнение', selected) Увольнение
            - else  
              option(value='Увольнение') Увольнение
            - if( $reason == 'Прием')
              option(value='Прием', selected) Прием
            - else
              option(value='Прием') Прием
        span &nbsp;&nbsp;
        button.btn.btn-default(type="submit", name="go", value="true", data-toggle="#formframe") Сформировать
  - if (go)      
    div.col-sm-24.main
      h3.sub-header.text-center Перемещения сотрудников #{currDep} с #{PeriodBeg} по #{PeriodEnd}

      table.table.table-striped
        col(width="15") 
        col(width="30") 
        col(width="20") 
        col(width="10%") 
        col(width="10%") 
        col(width="25") 
        col(width="10%") 
        col(width="10%") 
        col(width="10%") 
        col(width="10%") 
        
        tr
          th #
          th Подразделение
          th Таб. №
          th Сотрудник
          th Должность
          th Дата
          th Событие
          th Вид занятости
          th Пред. подразделение
          th Пред. должность
            - $Npp = 0
            - each obj in content
              - $Npp++
              tr
                td= $Npp
                td= obj['Department']
                td= obj['EmpCode']
                td= obj['Employee']
                td= obj['Position']
                td= obj['FireDate']
                td= obj['Event']
                td= obj['OccupationType']
                td= obj['PrevDept']
                td= obj['PrevPosition']
                
  include inc_footer
